<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>해적왕 원준갓</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <scirpt src="../public/javascripts/chat.js"></scirpt>

    <!-- <link rel="stylesheet" href="team.css" media="screen" title="no title"> -->
    <link rel="stylesheet" href="../public/stylesheets/header.css" media="screen" title="no title">
    <link rel="stylesheet" href="../public/stylesheets/chat.css" media="screen" title="no title">


</head>
<body>
<script>
    var socket = io('http://localhost:3030');
    socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', {my: 'data'});
    });
</script>
<div class="container">
    <header class="header">
        <div class="headLeft">
            <div class="mainLogoImg">
                <img src="../public/images/icon/title_main.png" alt=""/>
            </div>
            <div class="teamName">
                해적왕 원준갓 디콘
            </div>
        </div>
        <div class="headMid">

        </div>
        <div class="headRight">
            <div id="xp" class="xpBtn navBtn">
                <img src="../public/images/icon/ic_main_side_cal_xp.png" alt=""/>
                <div class="btnText">
                    XP
                </div>
            </div>
            <div id="scrum" class="scrumBtn navBtn">
                <img src="../public/images/icon/ic_main_side_cal_scrum.png" alt=""/>
                <div class="btnText">
                    SCRUM
                </div>
            </div>
            <div id="chat" class="chatBtn navBtn">
                <img src="../public/images/icon/ic_main_nav_chat_off.png" alt=""/>
                <div class="btnText">
                    채팅방
                </div>
            </div>
            <div id="DashBoard" class="dashBtn navBtn">
                <img src="../public/images/icon/ic_main_nav_dashboard_off.png" alt=""/>
                <div class="btnText">
                    대시보드
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <article class="article">
            <aside class="leftSide">
                <div class="roomView">
                    <ul>
                        <li id="dev" class="a developed">
                            <div id="devFr" class="roomProfile developed">강</div>
                            <div class="roomName developed">강은솔</div>
                        </li>
                        <li id="des" class="a design">
                            <div id="desFr" class="roomProfile design">송</div>
                            <div class="roomName design">송원준</div>
                        </li>
                        <li id="pla" class="a planer">
                            <div id="plaFr" class="roomProfile planer">구</div>
                            <div class="planer" class="roomName planer">구창림</div>
                        </li>
                        <li id="suv" class="a talk">
                            <div id="suvFr" class="roomProfile talk">박</div>
                            <div class="roomName talk">박지수</div>
                        </li>
                    </ul>
                </div>
                <div class="addRoomView">
                    <img id="plusImg" src="../public/images/icon/btn_addteam.png" alt=""/>
                    <div class="addRoomText">
                        새로운 채팅
                    </div>
                </div>
            </aside>
            <div class="chatting">
                <div class="chatView">


                </div>
                <div class="bottomView">
                    <div class="sendFile">
                        <img src="../public/images/icon/btn_chat_file.png" alt=""/>
                    </div>
                    <div class="sendImg">
                        <img src="../public/images/icon/btn_chat_vote.png" alt=""/>
                    </div>
                    <input id="aaaaaa" type="text" name="name" value="" class="inputSend" placeholder="작성..">
                    <button class="button" type="button" name="button">전송</button>
                </div>
            </div>
        </article>
    </div>
</div>


<script src="../public/javascripts/addList.js"></script>
<script src="../public/javascripts/header.js"></script>
<script src="../public/javascripts/xp.js"></script>

</body>
</html>
