<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>해적왕 원준갓</title>
    <link rel="stylesheet" href="/public/stylesheets/main.css" media="screen" title="no title">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
      
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="headLeft">
          <div class="mainLogoImg">
            <img src="/public/images/icon/title_main.png" alt="" />
          </div>
        </div>
        <div class="headMid">

        </div>
        <div class="headRight">
          <div class="settingBtn">
            환경설정
          </div>
        </div>
      </header>
      <div class="content">
        <aside class="leftSide">
          <div class="profile">
            <div class="profileImg">
              <img src="/public/images/profile.jpg" alt="" />
            </div>
            <div class="profileName">
              이장훈
            </div>
            <div class="profileEmail">
              jjanghuni102@gmail.com
            </div>
          </div>
          <div class="outBtn">
            <div class="outBtnBox">
              <img src="/public/images/icon/btn_main_leftside_logout.png" alt="" />
            </div>
          </div>
        </aside>
        <article class="article">
            
            <div class="addTeamBtn">
                <div class="teamBox">
                  <div class="teamName">
                    당신의 팀을 추가해 주세요!
                  </div>
                  <div class="teamJoinSibal">
                    <div class="teamJoinText">
                        팀추가     
                    </div>
                    
                  </div>
                </div>
            </div>
        </article>
      </div>
    </div>

   
      
    
    <script type="text/javascript" src="/public/javascripts/main.js"></script>
  </body>
</html>
