<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>해적왕 원준갓</title>
    <!-- <link rel="stylesheet" href="team.css" media="screen" title="no title"> -->
    <link rel="stylesheet" href="/public/stylesheets/header.css" media="screen" title="no title">
    <link rel="stylesheet" href="/public/stylesheets/scrum.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="headLeft">
          <div class="mainLogoImg">
            <img src="/public/images/icon/title_main.png" alt="" />
          </div>
          <div class="teamName">
            해적왕 원준갓 디콘
          </div>
        </div>
        <div class="headMid">

        </div>
        <div class="headRight">
          <div id="xp" class="xpBtn navBtn">
            <img src="../public/images/icon/ic_main_side_cal_xp.png" alt="" />
            <div class="btnText">
              XP
            </div>
          </div>
          <div id="scrum" class="scrumBtn navBtn">
            <img src="/public/images/icon/ic_main_side_cal_scrum.png" alt="" />
            <div class="btnText">
              SCRUM
            </div>
          </div>
          <div id="chat" class="chatBtn navBtn">
            <img src="/public/images/icon/ic_main_nav_chat_off.png" alt="" />
            <div class="btnText">
              채팅방
            </div>
          </div>
          <div id="DashBoard" class="dashBtn navBtn">
            <img src="/public/images/icon/ic_main_nav_dashboard_off.png" alt="" />
            <div class="btnText">
              대시보드
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <article class="article">
          <div class="Todo">
            <div class="title Todo_text">
              TO-DO
            </div>
            <div class="cardBox">
              <div class="cardView">
                <div class="cardName">
                  <div class="cardNameIndex">
                    제목을 추가해 주세요
                  </div>
                  <div class="cardImg">

                  </div>
                </div>
                <div class="cardDate">
                  날짜를 추가해 주세요
                </div>
                <div class="cardIndex">
                  내용을 추가해 주세요
                </div>
                <div class="nullView">

                </div>
                <div class="cardMemo">
                  <button id="memoBtn" type="button" name="button">메모</button>
                </div>
              </div>
            </div>
            <div class="addCard">
              <button id="addCardBtn" type="button" name="button">추가</button>
            </div>  
        </div>
          
            
          <div class="Doing">
            <div class="title doing_text">
              DOING
            </div>
          </div>
          <div class="Done">
            <div class="title done_text">
              DONE
            </div>
          </div>
        </article>
      </div>
    </div>
      
    <script src="/public/javascripts/header.js"></script>
    <script src="/public/javascripts/addList.js"></script>
    <script src="/public/javascripts/scrum.js"></script>
  </body>
</html>
