<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>해적왕 원준갓</title>
    <link rel="stylesheet" href="/public/stylesheets/team.css" media="screen" title="no title">
    <link rel="stylesheet" href="/public/stylesheets/header.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
    
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="headLeft">
          <div class="mainLogoImg">
            <img src="/public/images/icon/title_main.png" alt="" />
          </div>
          <div class="teamName">
            해적왕 원준갓 디콘
          </div>
        </div>
        <div class="headMid">

        </div>
        <div class="headRight">
          <div id="xp" class="xpBtn navBtn">
            <img src="/public/images/icon/ic_main_side_cal_xp.png" alt="" />
            <div class="btnText">
              XP
            </div>
          </div>
          <div id="scrum" class="scrumBtn navBtn">
            <img src="/public/images/icon/ic_main_side_cal_scrum.png" alt="" />
            <div class="btnText">
              SCRUM
            </div>
          </div>
          <div id="chat" class="chatBtn navBtn">
            <img src="/public/images/icon/ic_main_nav_chat_off.png" alt="" />
            <div class="btnText">
              채팅방
            </div>
          </div>
          <div class="dashBtn navBtn">
            <img src="/public/images/icon/ic_main_nav_dashboard_off.png" alt="" />
            <div class="btnText">
              대시보드
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <aside class="leftSide">
          <div class="profile">
            <div class="profileImg">
              <img src="/public/images/profile.png" alt="" />
            </div>
            <div class="profileName">
              이장훈
            </div>
            <div class="profilePs">
              Javascript Developer
            </div>
            <div class="profileEmail">
              jjanghuni102@gmail.com
            </div>
          </div>
          <div class="outBtn">
            <div class="outBtnBox">
              <img src="/public/images/icon/btn_main_leftside_logout.png" alt="" />
            </div>
          </div>
        </aside>
        <article class="article">
          <div class="timeLine conference">
            <div class="timeLineProfile">
              <div class="timeLineProfileImg">
                <img src="/public/images/profile.png" alt="" />
              </div>
              <div class="timeLineProfileIndex">
                <div class="timeLineProfileName">
                  이장훈
                </div>
                <div class="timeLineProfileDate">
                  2016년 10월 28일
                </div>
              </div>
              <div class="">

              </div>
            </div>
            <div class="timeLineIndex">
              <div class="timeLineContent">
                <div id="conN" class="contentName">
                  내용을 추가해 주세요
                </div>
                <div class="contentDate">
                    2016년 11월 1일
                </div>
                <div id="conB" class="contentBtn">
                  회의록 작성
                </div>
              </div>
            </div>
          </div>
        </article>
        <div class="rightSide">
          <div class="notice">
            <div class="topText">
              공지사항
            </div>
            <div class="noticeBox">
              <div class="noiceIndex">
                자살파티가있습니다 성수대교로
              </div>
              <div class="noiceDate">
                2016.10.28
              </div>
            </div>
            <div class="noticeBox">
              <div class="noiceIndex">
                자살파티가있습니다 성수대교로
              </div>
              <div class="noiceDate">
                2016.10.28
              </div>
            </div>

          </div>

          <div class="calender">
            <div class="topText">
              켈린더
            </div>
            <div class="dateView">
              <div class="backMonth">
                <img id="monthBtn" src="/public/images/icon/ic_back.png" alt="" />
              </div>
              <div class="viewMonth">
                2016.11
              </div>
              <div class="frontMonth">
                <img id="monthBtn" src="/public/images/icon/ic_front.png" alt="" />
              </div>    
            </div>
            <table class="dateIndex">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="date"><div>1</div></td>
              </tr>
              <tr>
                <td class="date"><div>2</div></td>
                <td class="date"><div>3</div></td>
                <td class="date"><div>4</div></td>
                <td class="date"><div>5</div></td>
                <td class="date"><div>6</div></td>
                <td class="date"><div>7</div></td>
                <td class="date"><div>8</div></td>
              </tr>
                  
              <tr>
                <td class="date"><div>9</div></td>
                <td class="date"><div>10</div></td>
                <td class="date"><div>11</div></td>
                <td class="date"><div>12</div></td>
                <td class="date"><div>13</div></td>
                <td class="date"><div>14</div></td>
                <td class="date"><div>15</div></td>
              </tr>
              <tr>
                <td class="date"><div>16</div></td>
                <td class="date"><div>17</div></td>
                <td class="date"><div>18</div></td>
                <td class="date"><div>19</div></td>
                <td class="date"><div>20</div></td>
                <td class="date"><div>21</div></td>
                <td class="date"><div>22</div></td>
              </tr>
              <tr>
                <td class="date"><div>23</div></td>
                <td class="date"><div>24</div></td>
                <td class="date"><div>25</div></td>
                <td class="date"><div>26</div></td>
                <td class="date"><div>27</div></td>
                <td class="date"><div>28</div></td>
                <td class="date"><div>29</div></td>
              </tr>
              <tr>
                <td class="date"><div>30</div></td>
                <td class="date"><div>31</div></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

            </table>
            <div class="fastDateAddBox">
              <div class="dateAddText">
                <div class="addIn">
                  빠른 일정 추가
                </div>
                <div class="addInSub">
                  캘린더에일정을추가
                </div>
              </div>
              <div class="addDateIcBox">
                <div class="scrumIc addBtn">
                  <img src="/public/images/icon/ic_main_side_cal_scrum.png" alt="" />
                </div>
                <div class="xpIc addBtn">
                  <img src="/public/images/icon/ic_main_side_cal_xp.png" alt="" />
                </div>
                <div class="scrumIc addBtn">
                  <img src="/public/images/icon/ic_main_side_cal_hweui.png" alt="" />
                </div>
                <div class="scrumIc addBtn">
                  <img src="/public/images/icon/ic_main_side_cal_hweuilog.png" alt="" />
                </div>
                <div class="scrumIc addBtn">
                  <img src="/public/images/icon/ic_main_side_cal_schedule.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <script type="text/javascript" src="/public/javascripts/team.js"></script>
    <script type="text/javascript" src="/public/javascripts/addList.js"></script>
    <script type="text/javascript" src="/public/javascripts/header.js"></script>
  </body>
</html>
