<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>해적왕 원준갓</title>
    <!-- <link rel="stylesheet" href="team.css" media="screen" title="no title"> -->
    <link rel="stylesheet" href="../public/stylesheets/header.css" media="screen" title="no title">
    <link rel="stylesheet" href="../public/stylesheets/xp.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="headLeft">
          <div class="mainLogoImg">
            <img src="../public/images/icon/title_main.png" alt="" />
          </div>
          <div class="teamName">
            해적왕 원준갓 디콘
          </div>
        </div>
        <div class="headMid">

        </div>
        <div class="headRight">
          <div class="xpBtn navBtn">
            <img src="../public/images/icon/ic_main_side_cal_xp.png" alt="" />
            <div class="btnText">
              XP
            </div>
          </div>
          <div id="scrum" class="scrumBtn navBtn">
            <img src="../public/images/icon/ic_main_side_cal_scrum.png" alt="" />
            <div class="btnText">
              SCRUM
            </div>
          </div>
          <div id="chat" class="chatBtn navBtn">
            <img src="../public/images/icon/ic_main_nav_chat_off.png" alt="" />
            <div class="btnText">
              채팅방
            </div>
          </div>
          <div id="DashBoard" class="dashBtn navBtn">
            <img src="../public/images/icon/ic_main_nav_dashboard_off.png" alt="" />
            <div class="btnText">
              대시보드
            </div>
          </div>
        </div>
      </header>
      <div class="content">
        <article class="article">
          <div class="top">
            <div class="topUserLeft topUser">
              <div class="user_1 usersBox">
                <div class="userName">
                  <div class="userNameIndex">
                    <div class="userNameIndex_name">
                      송원준
                    </div>
                    <div class="userNameIndex_pos">
                      PO
                    </div>
                  </div>
                  <div class="userNameNumber">
                    1
                  </div>
                </div>
                <div class="userChat">
                  폭탄 받아라!!
                </div>
              </div>
            </div>
            <div class="topUserMid topUser">
              <div class="user_2 usersBox">
                <div class="userName">
                  <div class="userNameIndex">
                    <div class="userNameIndex_name">
                      송원준
                    </div>
                    <div class="userNameIndex_pos">
                      PO
                    </div>
                  </div>
                  <div class="userNameNumber">
                    1
                  </div>
                </div>
                <div class="userChat">
                  폭탄 받아라!!
                </div>
              </div>
            </div>
            <div class="topUserRight topUser">
              <div class="user_3 usersBox">
                <div class="userName">
                  <div class="userNameIndex">
                    <div class="userNameIndex_name">
                      송원준
                    </div>
                    <div class="userNameIndex_pos">
                      PO
                    </div>
                  </div>
                  <div class="userNameNumber">
                    1
                  </div>
                </div>
                <div class="userChat">
                  폭탄 받아라!!
                </div>
              </div>
            </div>
          </div>
          <div class="middle">
            <div class="leftUser sideUser">
              <div class="user_4 usersBox">
                <div class="userName">
                  <div class="userNameIndex">
                    <div class="userNameIndex_name">
                      송원준
                    </div>
                    <div class="userNameIndex_pos">
                      PO
                    </div>
                  </div>
                  <div class="userNameNumber">
                    1
                  </div>
                </div>
                <div class="userChat">
                  폭탄 받아라!!
                </div>
              </div>
            </div>
            <div class="timeView">

            </div>
            <div class="rightUser sideUser">
              <div class="user_5 usersBox">
                <div class="userChat">
                  폭탄 받아라!!
                </div>
                <div class="userName">
                  <div class="userNameIndex">
                    <div class="userNameIndex_name">
                      송원준
                    </div>
                    <div class="userNameIndex_pos">
                      PO
                    </div>
                  </div>
                  <div class="userNameNumber">
                    1
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom">
            <div class="chatView">
              <!-- <div class="chatBox">
                <div class="chatIndex">
                  <ul class="chatUl">
                    <li class="chatList">팬파이에플애플팬</li>
                    <li class="chatList">팬파이에플애플팬</li>
                    <li class="chatList">팬파이에플애플팬</li>
                    <li class="chatList">팬파이에플애플팬</li>
                    <li class="chatList">팬파이에플애플팬</li>
                    <li class="chatList">팬파이에플애플팬</li>
                  </ul>
                </div>
                <div class="chatSend">
                  <input type="text" name="chat" value="" placeholder="Message">
                </div>
              </div> -->
            </div>
            <div class="cardView">
              <div class="card" draggable="true">
                _
              </div>
              <div class="card" draggable="true">
                1
              </div>
              <div class="card" draggable="true">
                2
              </div>
              <div class="card" draggable="true">
                3
              </div>
              <div class="card" draggable="true">
                4
              </div>
              <div class="card" draggable="true">
                5
              </div>
              <div class="card" draggable="true">
                6
              </div>
              <div class="card" draggable="true">
                7
              </div>
              <div class="card" draggable="true">
                8
              </div>
              <div class="card" draggable="true">
                9
              </div>
              <div class="card" draggable="true">
                0
              </div>
            </div>
            <div class="nullLeftView">

            </div>
          </div>
        </article>
      </div>
    </div>
      
      
    <script src="js/header.js"></script>
    <script src="js/xp.js"></script>  
  </body>
</html>
